<form action="" method="POST">
    <h2>Register</h2>
    <p class="username">
        <label for="username"><i class="fas fa-user"></i></label>
        <input type="text" name="username" placeholder="Username">
    </p>
    <p>
        <label for="gender"></label>
        <input type="radio" name="gender" id="male">
    </p>
    <p>
        <label for="password"><i class="fas fa-key"></i></label>
        <input type="password" name="password" placeholder="Password">
    </p>
    <p>
        <label for="rePassword"><i class="fas fa-key"></i></label>
        <input type="password" name="rePassword" placeholder="Repeat Password">
    </p>
    <p class="form-link">Already have an account? <a href="">Login</a></p>
    <input type="submit" value="Register">
</form>