{{>header}}
<form action="#/register" method="POST">
    <h2>Register</h2>
    <p class="username">
        <label for="username"><i class="fas fa-user"></i></label>
        <input type="text" name="username" placeholder="Username">
    </p>
    <p class="gender">
        <label for="gender"><i class="fas fa-user"></i></label>
        <input type="text" name="gender" placeholder="Male / Female">
    </p>
    <p>
        <label for="password"><i class="fas fa-key"></i></label>
        <input type="password" name="password" placeholder="Password">
    </p>
    <p>
        <label for="rePassword"><i class="fas fa-key"></i></label>
        <input type="password" name="rePassword" placeholder="Repeat Password">
    </p>
    <p class="form-link">Already have an account? <a href="#/login">Login</a></p>
    <input type="submit" value="Register">
</form>
{{>footer}}