{{>header}}
<section class="cta">
    <h2>Share your talent to the world</h2>
    <h3>We are waiting for your stories</h3>
    {{#if loggedIn}}
    <a href="">Post A Story</a>
    {{else}}
    <a href="#/register">Join Now</a>
    {{/if}}
</section>
{{>footer}}