{{>header}}
<section class="comments">
    <h2>Comments</h2>
    <ul>
        {{#each commentViews}}
        <li>
            {{>commentView}}
        </li>
        {{else}}
        <li>
            <h2>No Comments Yet</h2>
        </li>
        {{/each}}
    </ul>
    <form>
        <p>
            <input type="text" name="comment" id="comment" placeholder="Write a comment">
            <input type="submit" id="submit" value="Comment">
        </p>
    </form>
</section>
{{>footer}}