{{>header}}
<section class="likes">
    <h2>Likes</h2>
    <ul>
        {{#each likeViews}}
        <li>
            {{>likeView}}
        </li>
        {{else}}
        <li>
            <h2>No Likes Yet</h2>
        </li>
        {{/each}}
    </ul>
</section>
{{>footer}}