<header class="site-header">
    <a href="#/home" class="logo">Story-On-Go</a>
    <nav >
        <ul {{#if loggedIn}}{{else}} class="notLoggedIn" {{/if}}>
            {{#if loggedIn}}
            <li><a href="#/feed"><i class="fas fa-rss"></i> Feed</a></li>
            <li><a href="#/post"><i class="fas fa-clipboard"></i> Post A Story</a></li>
            <li><a href="#/profile"><i class="fas fa-user"></i> Profile</a></li>
            <li><a href="#/logout"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
            {{else}}
            <li class="authentication"><a href="#/register"><i class="fas fa-sign-in-alt"></i> Register</a></li>
            <li class="authentication"><a href="#/login"><i class="fas fa-sign-in-alt"></i> Login</a></li>
            {{/if}}
        </ul>
    </nav>
</header>