<header class="site-header">
    <a href="#/home" class="logo">Story-On-Go</a>
    <nav >
        <ul {{#if loggedIn}}{{else}} class="notLoggedIn" {{/if}}>
            {{#if loggedIn}}
            <li><a href=""><i class="fas fa-rss"></i> Feed</a></li>
            <li><a href=""><i class="fas fa-clipboard"></i> Post A Story</a></li>
            <li><a href=""><i class="fas fa-user"></i> Profile</a></li>
            <li><a href=""><i class="fas fa-sign-out-alt"></i> Logout</a></li>
            {{else}}
            <li class="authentication"><a href=""><i class="fas fa-sign-in-alt"></i> Register</a></li>
            <li class="authentication"><a href=""><i class="fas fa-sign-in-alt"></i> Login</a></li>
            {{/if}}
        </ul>
    </nav>
</header>