{{>header}}
<form class="story-form" action="#/post" method="POST">
    <h2>Post A Story</h2>
    <p class="title">
        <label for="title">Title</label>
        <input type="text" name="title" placeholder="Story Title">
    </p>
    <p class="content">
        <label for="content">Content</label>
        <textarea name="content" id="" cols="120" rows="20"></textarea>
    </p>
    <input type="submit" value="Post">
</form>
{{>footer}}