form{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding: 6rem 0rem;
}

form h2{
    margin-bottom: 2rem;
    color: var(--site-main-color);
}

form i{
    color: var(--site-main-color);
}

form p{
    display: flex;
    justify-content: center;
    align-items: center;
}

form input{
    flex: 0 0 30%;
    margin-left: 1rem;
    padding: 0.5rem;
    border-radius: 10px;
    border: 1px solid gray;
    outline: none;
}

form textarea{
    border-radius: 10px;
    border: 1px solid gray;
    outline: none;
    padding: 0.5rem;
}

form input[type="text"]:focus, form input[type="password"]:focus, form textarea:focus{
    border: 2px solid var(--site-main-color);
}

form .gender{
    margin-bottom: 2rem;
}

.form-link{
    color: var(--site-third-color);
    margin-top: 1rem;
}

.form-link a{
    text-decoration: none;
    margin-left: 1rem;
    color: var(--site-main-color);
}

.form-link a:hover{
    text-decoration: underline;
}


form input[type="submit"]{
    background: var(--site-main-color);
    color: var(--site-second-color);
    border: 1px solid var(--site-main-color);
    margin-top: 1rem;
    width: 40%;
}

form input[type="submit"]:hover{
    cursor: pointer;
    color: var(--site-main-color);
    background: var(--site-second-color);
}

.story-form p{
    display: flex;
    flex-wrap: wrap;
}

.story-form .title{
    margin-bottom: 2rem;
}

.story-form label{
    flex: 0 0 100%;
    font-size: 1.5rem;
    color: var(--site-main-color);
    margin-bottom: 1rem;
    font-weight: bold;
}

.story-form input[type="text"]{
    flex: 0 0 100%;
}

.invisible{
    display: none;
}

@media (max-width: 900px) {
    form{
        width: 90%;
    }
}