.site-header{
    display: flex;
    background: var(--site-main-color);
    padding: 1rem;
    align-items: center;
}

.logo{
    flex: 0 0 30%;
    margin-right: auto;
    font-size: 2rem;
    opacity: 0;
}

nav{
    flex: 0 0 60%;
    display: flex;
    margin-left: auto;
}

nav ul{
    display: flex;
    flex: 0 0 100%;
}

.site-header a{
    color: var(--site-second-color);
    text-decoration: none;
}

nav ul li{
    list-style: none;
    flex: 1 1 25%;
    text-align: center;
    position: relative;
    opacity: 0;
}

nav ul li a{
    font-size: 1.2rem;
}

nav ul li a:after{
    display: block;
    content: '';
    width: 30%;
    height: 5px;
    background: var(--site-second-color);
    position: absolute;
    right: 50%;
    bottom: -10px;
    transform: translateX(50%);
    opacity: 0;
}

