.site-header{
    display: flex;
    background: var(--site-main-color);
    padding: 1rem;
    align-items: center;
}

.logo{
    flex: 0 0 30%;
    margin-right: auto;
    font-size: 2rem;
    opacity: 0;
}

.site-header label{
    display: none;
}

.site-header label i, .site-header label span{
    color: var(--site-second-color);
    font-size: 2rem;
}

.site-header>input{
    opacity: 0;
    pointer-events: none;
}

nav{
    flex: 0 0 60%;
    display: flex;
    margin-left: auto;
}

nav ul{
    display: flex;
    flex: 0 0 100%;
}

.site-header a{
    color: var(--site-second-color);
    text-decoration: none;
}

nav ul li{
    list-style: none;
    flex: 1 1 25%;
    text-align: center;
    position: relative;
    opacity: 0;
}

.notLoggedIn{
    flex: 0 0 50%;
    margin: 0 auto;
}

.authentication{
    flex: 0 0 50%;
    opacity: 0;
}

nav ul li a{
    font-size: 1.2rem;
}

nav ul li a:after{
    display: block;
    content: '';
    width: 30%;
    height: 5px;
    background: var(--site-second-color);
    position: absolute;
    right: 50%;
    bottom: -10px;
    transform: translateX(50%);
    opacity: 0;
}

@media (max-width: 900px) {
    .site-header{
        flex-wrap: wrap;
    }

    .logo{
        flex: 1 1 100%;
        margin-right: 0;
        text-align: center;
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }

    nav{
        justify-content: center;
        flex-wrap: wrap;
        flex: 1 1 100%;
    }

    .notLoggedIn{
        flex: 1 1 100%;
    }

    nav ul li{
        margin-bottom: 0.5rem;
        cursor: pointer;
        display: flex;
        align-items: center;
        flex: 1 1 100%;
    }

    nav ul li a{
        font-size: 1.8rem;
        flex: 1 1 100%;
        border: 1px solid var(--site-second-color);
        border-radius: 10px;
        opacity: 0;
    }

    nav ul li:first-child{
        margin-top: 1rem;
    }

    nav ul li:not(:last-child){
        margin-bottom: 1rem;
    }

    .site-header label{
        display: block;
    }

    input + nav ul{
        display: none;
    }

    input + nav label .open{
        display: inline;
        font-weight: bold;
    }

    input + nav label .close{
        display: none;
    }

    input:checked + nav label .close{
        display: inline;
        font-weight: bold;
    }

    input:checked + nav label .open{
        display: none;
    }

    input:checked + nav a{
        padding: 1rem 0;
    }

    input:checked + nav ul{
        display: block;
        border-top: 2px solid var(--site-second-color);
		border-bottom: 2px solid var(--site-second-color);
    }
}