.post-details{
    width: 60%;
    margin: 0 auto;
    padding: 6rem 0;
}

.post-details .header{
    display: flex;
    align-items: center;
}

.post-details .avatar{
    margin-right: 1rem;
    max-width: 64px;
}

.post-details img{
    display: block;
    width: 100%;
    height: auto;
}

.post-details .content{
    flex-wrap: wrap;
}

.post-details .content h2{
    flex: 0 0 100%;
    text-align: center;
    margin-bottom: 2rem;
}

.post-details .content p{
    flex: 0 0 100%;
}

.post-details .content .story{
    line-height: 1.5;
    font-size: 1.2rem;
}

.words{
    margin-bottom: 4rem;
    font-style: italic;
    flex: 0 0 100%;
}

@media (max-width: 900px) {
    .post-details, .controls{
        width: 90%;
    }
}