.profile-info{
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    padding: 4rem 0;
}

.profile{
    flex: 0 0 20%;
    border-right: 2px solid var(--site-main-color);
    padding-right: 2rem;
}

.profile-info .info{
    flex: 0 0 45%;
}

.profile-info .avatar{
    overflow: hidden;
    width: 100%;
}

.profile-info img{
    display: block;
    width: 100%;
    height: auto;
}

.profile-info .username{
    text-align: center;
    margin-top: 1rem;
    color: var(--site-main-color);
}

.info li{
    list-style: none;
    font-size: 1.3rem;
}

.info li:not(:last-child){
    margin-bottom: 1rem;
}

.info li span{
    font-weight: bold;
    font-size: 1.4rem;
    color: var(--site-main-color);
}

@media (max-width: 900px) {
    .profile-info{
        width: 90%;
    }
}